[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
requests-mock = "*"
twine = "*"
ruff = "*"

[packages]
redfish-client = {editable = true, path = "."}
